:root {
    --pink: #F1CDB3;
    --light-pink: #FDDCC4;
    --dark-white: #FAFAFA;
    --light-gray: #F6F6F6;
    --gray: #CDCDCD;
    --dark-gray: #4C4C4C;
    --very-dark-gray: #545454;
    --black: #292929;
}


.h2-title {
    font-family: 'Georgia';
    font-style: normal;
    font-weight: 400;
    font-size: 44px;
    line-height: 130%;
}


.h3-title {
    font-family: 'Georgia';
    font-style: normal;
    font-weight: 400;
    font-size: 35px;
    line-height: 130%;
    letter-spacing: 0.06em;
}

.h4-title {
    font-family: 'Georgia';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 115%;
    letter-spacing: 0.06em;
}

.h5-title {
    font-family: 'Georgia';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 110%;
    letter-spacing: 0.06em;
}

.wrapper {
    min-width: 100%;
}

.start-screen_bg-gradient,
.footer_bg-gradient {
    background: radial-gradient(100% 215.42% at 0% 0%, #5B483A 0%, #262425 100%), #211F20;
}

.in-addition_bg-light-gray,
.our-friends_bg-light-gray {
    background: var(--light-gray);
}

.container {
    max-width: 1280px;
    margin: 0 auto;
    padding: 0 40px;
}

.container_base-padding {
    padding-top: 80px;
    padding-bottom: 100px;
}

.header__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 30px;
    position: relative;
}

.logo__title {
    font-family: 'Georgia';
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 110%;
    letter-spacing: 0.06em;
    color: var(--pink);
}

.logo__title_mb-10 {
    margin-bottom: 10px;
}

.logo__subtitle {
    font-family: 'Arial';
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 15px;
    letter-spacing: 0.1em;
    color: var(--dark-white);
}

.logo__subtitle_pl-4 {
    padding-left: 4px;
}

.nav__list {
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
    column-gap: 35px;
}

.text {
    font-family: 'Arial';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 160%;
}

.list-item__link {
    display: inline-block;
    height: 100%;
}

.link_color-very-dark-gray,
.text_color-very-dark-gray,
.title_color-very-dark-gray {
    color: var(--very-dark-gray);
}

.link_color-dark-gray,
.text_color-dark-gray,
.title_color-dark-gray {
    color: var(--dark-gray);
}

.link_color-gray,
.text_color-gray,
.title_color-gray {
    color: var(--gray);
}

.link_color-dark-white,
.text_color-dark-white,
.title_color-dark-white {
    color: var(--dark-white);
}

.link_color-light-pink,
.text_color-pink,
.title_color-pink {
    color: var(--pink);
}

.nav__list-item {
    position: relative;
}

.nav__list-item:after {
    display: block;
    content: '';
    background-color: var(--pink);
    position: absolute;
    left: 0;
    bottom: -2px;
    height: 3px;
    width: 0%;
    transition: width 0.3s ease-in-out;
}

.nav__list-item:hover .list-item__link {
    color: var(--dark-white);
}

.nav__list-item.active.nav__list-item:after {
    width: 100%;
}





/* Not only */

.not-only {
    margin-top: 60px;
}

.not-only__container {
    display: grid;
    grid-template-columns: minmax(250px, 460px) minmax(350px, 698px);
    grid-column-gap: 42px;
    align-items: center;
}

.not-only__info {
    display: flex;
    flex-direction: column;
    row-gap: 42px;
    align-items: flex-start;
    margin-top: -80px;
}

.img {
    width: 100%;
}

.block {
    display: block;
}

.button {
    display: block;
    padding: 15px 45px;
    border-radius: 100px;
    font-family: 'Georgia';
    font-style: normal;
    font-weight: 400;
    font-size: 17px;
    line-height: 130%;
    letter-spacing: 0.06em;
    color: var(--black);

}

.button_bg-none {
    background-color: transparent;
    border: 2px solid var(--pink);
}

.button_bg-pink {
    background-color: var(--pink);
}

.button:hover,
.bank-account:hover {
    background-color: var(--light-pink);
}




/* About */

.about__container {
    display: grid;
    grid-template-columns: 300px minmax(250px, 430px);
    grid-column-gap: 9.3%;
    /* 120px */
    justify-content: center;
    align-items: center;
}

.about__info {
    display: flex;
    flex-direction: column;
    row-gap: 25px;
}




/* Our friends */

.our-friends__container {
    display: flex;
    flex-direction: column;
    row-gap: 60px;
}

.our-friends__h3-title,
.help__h3-title {
    display: flex;
    flex-direction: column;
    align-items: center;
}


.our-friends__button {
    align-self: center;
}

.circle-btn {
    display: block;
    border: 2px solid var(--pink);
    border-radius: 100px;
    width: 52px;
    height: 52px;
    background: transparent;
    cursor: pointer;
    background-repeat: no-repeat;
    background-position: center center;
}

.circle-btn:hover,
.slide:hover .button_bg-none {
    background-color: var(--light-pink);
    border-color: var(--light-pink);
}

.slider__prev-btn {
    background-image: url('../../assets/icons/prev-arrow.svg');
    background-size: 14px 6px;
}

.slider__next-btn {
    background-image: url('../../assets/icons/next-arrow.svg');
    background-size: 14px 6px;
}

.slider {
    display: grid;
    grid-template-columns: auto 1fr auto;
    /* justify-items: center; */
    align-items: center;
    /* column-gap: 53px; */
    column-gap: 4.4%;

}

.slider__content {
    display: grid;
    grid-template-columns: repeat(auto-fit, 270px);
    /* column-gap: 90px; */
    column-gap: 8.5%;
    justify-content: center;
}

.slide__anchor {
    display: block;
    width: 100%;
    height: auto;
}

.slide__container {
    display: flex;
    flex-direction: column;
    align-items: center;
}


.slide__img {
    background-size: 270px 270px;
    max-height: 270px;
    background-position: center;
    background-repeat: no-repeat;
}

.slide__content {
    background-color: var(--dark-white);
    justify-self: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    row-gap: 30px;
    padding: 30px 0;
}

.slide:hover .slide__content {
    background-color: white;
}

.slide__text {
    font-family: 'Georgia';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 23px;
    letter-spacing: 0.06em;
    color: var(--very-dark-gray);
}

.slide__button {
    box-sizing: border-box;
    cursor: pointer;
}




/* Help */


.help__content {
    margin-top: 60px;
    display: flex;
    flex-wrap: wrap;
    column-gap: 120px;
    row-gap: 55px;
    justify-content: center;
}

.help-item {
    display: flex;
    flex-direction: column;
    row-gap: 30px;
    justify-content: center;
    align-items: center;
}




/* In addition */

.in-addition__container {
    display: grid;
    grid-template-columns: minmax(390px, 505px) minmax(350px, 380px);
    grid-column-gap: 30px;
    justify-content: center;
    align-items: center;
}

.in-addition__info {
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    align-items: flex-start;
    justify-content: flex-start;
}

.in-addition__text {
    font-family: 'Arial';
    font-style: italic;
    font-weight: 400;
    font-size: 12px;
    line-height: 18px;
    color: #B2B2B2;
}

.in-additional__bank-account {
    background-color: var(--pink);
    border-radius: 9px;
}

.bank-account__anchor,
.contacts-col1__anchor {
    display: inline-block;
    width: 100%;
    height: 100%;
}

.bank-account__container {
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 15px;
    padding: 10px 15px;
}

.bank-account__icon {
    background-image: url('../../assets/icons/credit-card.svg');
    background-repeat: no-repeat;
    background-size: 30px 23px;
    width: 30px;
    height: 23px;
}




/* footer */

.footer__container {
    padding-top: 40px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(272px, 302px));
    grid-template-rows: auto;
    grid-auto-rows: 1fr;
    grid-column-gap: 12%;
    justify-content: center;
    justify-items: center;
}

.footer__img {
    max-width: 300px;
}

.footer__contacts-col1,
.footer__contacts-col2 {
    padding-top: 16px;
}

.contacts-col1,
.contacts-col2 {
    display: flex;
    flex-direction: column;
}

.footer__contacts-col1 {
    row-gap: 40px;
}

.footer__contacts-col2 {
    row-gap: 33px;
}

.contacts-col1__email-icon {
    background-image: url('../../assets/icons/email.svg');
    background-repeat: no-repeat;
    background-size: 40px 32px;
    width: 40px;
    height: 32px;
}

.contacts-col1__tel-icon {
    background-image: url('../../assets/icons/phone.svg');
    background-repeat: no-repeat;
    background-size: 40px 32px;
    width: 40px;
    height: 32px;
}

.contacts-col2__location-icon {
    background-image: url('../../assets/icons/marker.svg');
    background-repeat: no-repeat;
    background-size: 22px 32px;
    width: 22px;
    height: 32px;
}


.contacts-col1__container,
.contacts-col2__container {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    column-gap: 20px;
}

.burger-menu {
    display: none;
}







@media (max-width:1279px) {
    .container {
        padding-left: 30px;
        padding-right: 30px;
    }

    .not-only__container {
        grid-template-columns: auto;
        row-gap: 100px;
    }

    .not-only__h2 {
        align-self: flex-start;
    }

    .not-only__info {
        margin-top: 0;
        align-items: center;
        padding-left: 4%;
        padding-right: 4%;
        margin: 0 13%;
    }

    .not-only__img {
        max-width: 569px;
        justify-self: end;
    }
}



@media (max-width:1250px) {

    .footer__container {
        padding-top: 30px;
        grid-column-gap: 6%;
        grid-row-gap: 11%;
        align-items: flex-start;
        height: 640px;
    }

    .footer__contacts-col1,
    .footer__contacts-col2 {
        padding-top: 0;
    }

    .footer__contacts-col1 {
        align-content: center;
    }

    .footer__img {
        grid-column: span 2;
    }

    .slide-3 {
        display: none;
    }
}

@media (max-width:900px) {

    .about__container {
        margin: 0 18%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        row-gap: 80px;
    }


    .about__img {
        max-width: 300px;
        margin: 0 auto;
        order: 2;
    }

    .about__info {
        order: 1;
    }

    .in-addition__container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        row-gap: 60px;
    }

    .in-addition__img {
        order: 2;
    }

    .in-addition__info {
        margin: 0 23%;
        order: 1;
    }

    .slider {
        column-gap: 1.5%;
    }

    .slider__content {
        column-gap: 5.3%;
    }

    .our-friends__button {
        margin-top: -4px;
    }

    .help__content {
        column-gap: 55px;
    }

    .help-item {
        width: 24%
    }
}


@media (max-width:767px) {

    .about {
        padding: 0;
    }

    .nav {
        display: none;
    }

    .burger-menu {
        display: block;
    }


    .burger-menu {
        position: absolute;
        z-index: 5;
        cursor: pointer;
        width: 30px;
        height: 22px;
        top: 54%;
        right: 5%;
    }

    .burger-menu__icon,
    .burger-menu::before,
    .burger-menu::after {
        content: "";
        position: absolute;
        left: 0;
        width: 100%;
        height: 2px;
        transition: all 0.3 ease-in;
        background-color: var(--pink);
    }

    .burger-menu__icon {
        top: 51%;
        transform: scale(1) translate(0px, -50%);
    }

    .burger-menu::before {
        top: 0;
    }

    .burger-menu::after {
        bottom: 0;
    }

    .burger-menu_open .burger-menu__icon {
        display: none;
    }

    .slide-2 {
        display: none;
    }
}


@media (max-width:705px) {

    .footer__container {
        grid-template-columns: 1fr;
        grid-template-rows: repeat(3, auto);
        height: 915px;
    }

    .footer__contacts-col2 {
        grid-column: span 2;
    }

    .footer__contacts-col1,
    .footer__contacts-col2 {
        align-items: center;
    }
}




@media (max-width:670px) {
    .container {
        padding-left: 3.1%;
        padding-right: 3.1%;
    }

    .not-only__img {
        max-width: 87.5%;
    }

    .not-only__h2,
    .about__h3,
    .our-friends__h3-title {
        align-self: center;
    }


    .footer__img {
        max-width: 260px;
    }

    .footer__container {
        grid-template-columns: minmax(280px, 1fr);
        grid-column-gap: 0;
        grid-row-gap: 40px;
        height: 810px;
    }


    .footer__contacts-col2 {
        row-gap: 40px;
    }

    /* .footer__h3 {
        text-align: center;
    } */

    .not-only__continuation-h2,
    .about__continuation-h3,
    .our-friends__continuation-h3,
    .footer__h3 {
        text-align: center;
    }

    .not-only__p2 {
        text-align: center;
    }

    .not-only__info {
        padding-left: 0;
        padding-right: 0;
        margin: 0 7%;
    }

    .about__container {
        margin: 0 7%;
        padding-top: 42px;
        padding-bottom: 42px;
        text-align: justify;
        row-gap: 42px;
    }


    .about__img {
        max-width: 270px;
    }


    .our-friends__container {
        padding-top: 42px;
        padding-bottom: 42px;
        row-gap: 42px;
    }

    .container_base-padding {
        padding-top: 42px;
        padding-bottom: 42px;
    }

    .help__content {
        margin-top: 42px;
    }


    .help-item__text {
        font-family: 'Georgia';
        font-style: normal;
        font-weight: 400;
        font-size: 15px;
        line-height: 110%;
        letter-spacing: 0.06em;
    }

    .help-item__icon {
        max-width: 50px;
    }

    .help__content {
        gap: 30px;
    }

    .in-addition__info {
        margin: 0 7%;
    }


}



/* 453 */

@media (max-width:453px) {
    .help-item {
        width: 44.5%;
        row-gap: 20px;
    }

    .help__content {
        justify-content: flex-start;
    }

    .slider__prev-btn {
        position: absolute;
        left: 20%;
        bottom: -70px;
    }

    .slider__next-btn {
        position: absolute;
        right: 20%;
        bottom: -70px;
    }

    .slider {
        grid-template-rows: 1fr;
        grid-template-columns: auto;
        position: relative;
    }


    .our-friends__button {
        margin-top: 70px;
    }


}



@media (max-width:380px) {


    .about__container {
        margin: 0 4.3%;
    }

    .about__p1 {
        margin-bottom: -3px;
    }

    .not-only__info {
        margin: 0 3%;
    }

    .not-only__h2,
    .about__h3,
    .our-friends__h3-title,
    .help__h3,
    .footer__h3 {
        font-size: 25px;
        line-height: 130%;
        letter-spacing: 0.06em;
    }

}


@media (max-width:330px) {

    .burger-menu {
        right: 17%
    }

    .not-only__info {
        margin: 0;
    }
}